@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Urbanist:wght@100;300;400;500;600&display=swap');
:root{
    background-color:rgb(245,245,245);
    font-family: Urbanist;
    font-style: 16px;
}